<md-button class="md-fab" ng-click="toogleSideNav('left')">
        <md-icon md-svg-src="./img/icons/ic_menu_48px.svg"></md-icon>
    </md-button>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" >
          <img src="./img/logo.png" class="logo">
          <md-content layout="column">
              <md-button class="md-raised"> <md-icon md-svg-src="/img/icons/ic_arrow_forward_36px.svg"></md-icon>Comercios</md-button>
              <md-button class="md-raised"><md-icon md-svg-src="/img/icons/ic_arrow_forward_36px.svg"></md-icon>Usuarios</md-button>
              <md-button class="md-raised"><md-icon md-svg-src="/img/icons/ic_arrow_forward_36px.svg"></md-icon>Comprobantes</md-button>
              <md-button class="md-raised"><md-icon md-svg-src="/img/icons/ic_arrow_forward_36px.svg"></md-icon>Denuncias</md-button>
              <md-button class="md-raised"><md-icon md-svg-src="/img/icons/ic_arrow_forward_36px.svg"></md-icon>Liquidaciones</md-button>
              <md-button class="md-raised"><md-icon md-svg-src="/img/icons/ic_arrow_forward_36px.svg"></md-icon>Cerrar Sesion</md-button>
          </md-content>
        </md-sidenav>