@import url('http://fonts.googleapis.com/css?family=Roboto');

h3{
	font-family: 'Roboto';
}
.md-toolbar-tools{
	background-color: #42A5F5;
}


.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}